{% extends "material_kit.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
                                <tr>
                                  <th class="column-title">Type</th>
                                  <th class="column-title">Category</th>
                                  <th class="column-title"></th>
                                </tr>
                              </thead>
                              <tbody>
                                 {% for category in categories %}
                                    <tr>
                                      <td class=" ">{{ category.category_type }}</td>
                                      <td class=" ">{{ category.name }}</td>
                                      <td class=" ">
                                        <a href="/kitchen/category/{{category.id}}/">Edit</a>
                                      </td>
                                      <td class=" "></td>
                                    </tr>
                                 {% endfor %}
                              </tbody>
               </table>
               <a href="/kitchen/category/add" class="btn btn-default">Add One!</a>
            </div>
          </div>
        </div>
</div>
</div>

</div>
</div>

</div>
</div>


{% endblock %}
