{% extends "bootstrap4.html" %}

{{ form }}

{% block content %}

<h1>{{ category.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/kitchen/categories/{{category.id}}/edit/" method="post">
    {% csrf_token %}
    Category Name: <input type="text" name="name" value="{{ category.name }}" class=""><br>
    Type: <input type="text" name="category_type" value="{{ category.category_type }}" class=""><br>

    <input type="submit" value="Submit">
</form>


{% endblock %}
