{% extends "material_kit.html" %}

{% block title %}Ingredients{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <a href="/kitchen/ingredients/add" class="btn btn-default">Add One!</a>
              <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                                <tr>
                                  <th class="column-title">#</th>
                                  <th class="column-title">Ingredient</th>
                                  <th class="column-title">Barcode</th>
                                  <th class="column-title">Estimated Cost</th>
                                  <th class="column-title"></th>
                                </tr>
                              </thead>
                              <tbody>
                                 {% for ingredient in ingredients %}
                                    <tr>
                                      <td class=" ">{{ ingredient.id }}</td>
                                      <td class=" "><a href="/kitchen/ingredient/{{ ingredient.id }}/">{{ ingredient.name }}</a></td>
                                      <td class=" ">{{ ingredient.barcode }}</td>
                                      <td class=" ">{{ ingredient.estimated_cost }}</td>
                                      <td class=" "><a href="/kitchen/ingredient/{{ ingredient.id }}/delete" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                 {% endfor %}
                              </tbody>
               </table>
            </div>
<a href="/kitchen/ingredients/add" class="btn btn-default">Add One!</a>
</div>
</div>
{% endblock %}
