{% extends "bootstrap4.html" %}

{% block title %}Ingredients{% endblock %}

{% block content %}

{% if ingredients %}
              <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                                <tr>
                                  <th class="column-title">#</th>
                                  <th class="column-title">Ingredient</th>
                                  <th class="column-title"></th>
                                </tr>
                              </thead>
                              <tbody>
                                 {% for ingredient in ingredients %}
                                    <tr>
                                      <td class=" ">{{ ingredient.id }}</td>
                                      <td class=" "><a href="/kitchen/ingredient/{{ ingredient.id }}/">{{ ingredient.name }}</a></td>
                                      <td class=" "></td>
                                    </tr>
                                 {% endfor %}
                              </tbody>
               </table>
            </div>
<a href="/kitchen/ingredients/add" class="btn btn-default">Add One!</a>
{% endif %}

{% endblock %}
