{% extends "material_kit.html" %}

{% block title %}Recipes{% endblock %}
{% block content %}

<div class="row">
  {% for recipe in recipes %}
    {% if forloop.counter0|divisibleby:3 %}
      </div>
      <div class="row">
    {% endif %}
    <div class="card" style="width: 30%;">
      <img class="card-img-top" src="/media/{{ recipe.recipe_photo }}" alt="<<{{ recipe.name }}>>">
      <div class="card-body">
        <h4 class="card-title">{{ recipe.name }}</h4>
        <p class="card-text">{{ recipe.description }}</br>{{ recipe.recipe_url }}</p>
        <a href="/kitchen/recipe/{{ recipe.id }}/review" class="btn btn-primary">Review</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% endfor %}

{% endblock %}
