{% extends "material_kit.html" %}

{% block title %}Recipes{% endblock %}
{% block content %}

<div class="row">
  <a href="/kitchen/recipe/add" class="btn btn-default">Add Recipe</a>
</div>

<div class="row">
  {% for recipe in recipes %}
    {% if forloop.counter0|divisibleby:3 %}
      </div>
      <div class="row">
    {% endif %}
    <div class="card" style="width: 30%;">
      <img class="card-img-top" src="/media/{{ recipe.recipe_photo }}" alt="<<{{ recipe.name }}>>">
      <div class="card-body">
        <h4 class="card-title">{{ recipe.name }}</h4>
        <p class="card-text">{{ recipe.description }}</br><a href="{{ recipe.recipe_url }}" target="_blank">{{ recipe.recipe_url }}</a></p>
        <a href="/kitchen/recipe/{{ recipe.id }}/review" class="btn btn-success">Review</a>&nbsp;
        <a href="/kitchen/recipe/{{ recipe.id }}/delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% endfor %}

{% endblock %}
