{% extends "material_kit.html" %}
{% block title %}Scan In{% endblock %}

{% block content %}

<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Scan Ingredients Into Inventory&nbsp;<i class="material-icons left">settings_remote</i></h4>
    <h3>Submit form to choose ingredient this barcode belongs to, or <a href="/kitchen/ingredients/add">Add One</a></h3>
    <form method="POST" action="/kitchen/scan-in3/" enctype="multipart/form-data" class="form-horizontal form-label-left">
      {% csrf_token %}
      {{ form }}
        <input type="submit" value="Submit Form" class="btn btn-primary">
    </form>

  </div>
</div>
{% endblock %}

{% block jquery %}
<script>
$( document ).ready(function() {
  $('input[id=id_barcode]').val('{{ barcode }}');
});
</script>
{% endblock %}
