{% extends "material_kit.html" %}

{% block content %}
{% block title %}Shopping Lists{% endblock %}
<div class="card">
  <div class="card-body">
<div class="table-responsive">
  <table class="table table-striped">
      <thead>
                      <tr class="headings">
                                <tr>
                                  <th class="column-title">Name</th>
                                  <th class="column-title"></th>
                                  <th class="column-title"></th>
                                </tr>
                              </thead>
                              <tbody>
                                 {% for sl in shopping_lists %}
                                    <tr>
                                      <td class=" "><a href="/kitchen/shopping_list/{{sl.id}}/">{{ sl.name }}</a></td>
                                      <td class=" ">
                                        <a href="/kitchen/shopping_list/{{sl.id}}/delete" class="badge badge-danger">Delete</a>
                                      </td>
                                      <td class=" ">
                                        <a href="/kitchen/shopping_list/{{sl.id}}/print" class="badge badge-success">Export List</a>
                                      </td>
                                    </tr>
                                 {% endfor %}
                              </tbody>
               </table>
               <a href="/kitchen/shopping_list/add" class="btn btn-default">Add One!</a>

            </div>
          </div>
        </div>
</div>
</div>

{% endblock %}
