<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Smart Kitchen</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ request.user.first_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i>Recipes<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/kitchen/recipes">Recipes</a></li>
            <li><a href="/kitchen/shopping_lists">Shopping Lists</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-table"></i> Calendar <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/kitchen/calendar_entries">Calendar Entries</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-clone"></i>Maintenance <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/kitchen/ingredients">Ingredients</a></li>
            <li><a href="/kitchen/categories">Categories</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>
